{% extends 'base.html' %}

{% block main %}

<div class="breadcrumb">
    System / <a href="{{ url_for('system.admin_access') }}">Advanced</a> / System Tunables
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('system.admin_access') }}">Admin Access</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('system.advanced_firewall_nat') }}">Firewall & NAT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('system.advanced_network') }}">Network</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('system.advanced_miscellaneous') }}">Miscellaneous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('system.advanced_system_tunables') }}">System Tunables</a>
    </li>
</ul>

<div class="settings-section">
    <h5>System Tunables</h5>
    
    <div style="padding: 20px;">
        <div class="alert-info">
            <strong>NOTE:</strong> The options on this page are intended for use by advanced users only.
        </div>

        <a href="{{ url_for('system.advanced_system_tunables_edit') }}" class="btn-new">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            New
        </a>

        <table class="table">
            <thead>
                <tr>
                    <th>Tunable Name</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th style="width: 60px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for tunable in tunables %}
                <tr>
                    <td>{{ tunable.name }}</td>
                    <td>{{ tunable.description }}</td>
                    <td>{{ tunable.value }}</td>
                    <td>
                        <a href="{{ url_for('system.advanced_system_tunables_edit', index=loop.index0) }}" class="btn-edit" title="Edit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
